<div class="container ">
    <div class="row">
        <div class="col-md-8">
            <h1>Detail Contact</h1>
            <% if (!contact) { %>
            <div class="alert alert-danger fw-bold" role="alert">
                Data Kontak Tidak ADA <a href="/contact" class="alert-link fw-normal"><br>&laquo; Kembali ke daftar
                    kontak</a>
            </div>
            <% } else { %>
            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body" condition>
                    <h5 class="card-title"><%= contact.nama %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %> </h6>
                    <p class="card-text"><%= contact.email %> </p>
                    <!-- <a href="/contact/delete/ " class="btn btn-danger badge"
                        onclick="return confirm('yakin dihapus ?')"> Hapus </a> -->
                    <form action="/contact?_method=DELETE" method="POST" class="d-inline">
                        <input type="hidden" name="nama" value="<%= contact.nama %>">
                        <button type="submit" class="btn btn-danger badge" onclick="return confirm('yakin dihapus ?')">
                            hapus </button>
                    </form>
                    <a href="/contact/edit/<%=contact.nama%> " class=" btn btn-info badge"> Edit </a>
                    <a href="/contact" class="card-link d-block mt-3">&laquo; Kembali ke Daftar Kontak</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>